.form {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form p {
    font-weight: bold;
}

.form input[type="text"],
.form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.form input[type="submit"],
.form button {
    width: 82%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5B00AE;
    color: #F0F0F0;
}

.form input[type="submit"]:hover {
    background-color: #D3A4FF;
    color: #272727;
}

.form button {
    background-color: #EA7500;
}

.form button:hover {
    background-color: #FFA042;
    color: #272727;
}

.form div {
    padding: 10px;
}

.form label {
    width: 15%;
    padding: 10px;
}