.form {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #F0F0F0;
    border-radius: 30px;
    background-color: #282A36;
    color: #F0F0F0;
    text-align: center;
}

.form-title {
    font-weight: bold;
}

.form-input {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    background-color: #272727;
    color: #F0F0F0;
}

.form-button {
    width: 82%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.form-button-color {
    background-color: #154560;
    color: #F0F0F0;
}

.form-button-color:hover {
    background-color: #126FA5; 
}

.form-metamask-button-color {
    background-color: #9E461A;
    color: #F0F0F0;
}

.form-metamask-button-color:hover {
    background-color: #C1551F;
}

.form-select {
    width: 82%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #272727;
    color: #F0F0F0;
}

.form-table {
    width: 100%;
    text-align: center;
}

.form-table-item {
    width: 20%;
}

.form-table-button-color {
    background-color: #ADADAD;
}

.form-table-button-color:hover {
    background-color: #A6A600;
}

.form-table-button-selected-color {
    background-color: #737300;
}
