.navbar {
    background-color: #303030;
    overflow: hidden;
}

.navbar-item {
    display: block;
    background-color: #303030;
    color: #F0F0F0;
    padding: 14px 16px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    width: 15%;
    font-weight: bold;
    border: 1px solid #303030;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.navbar-item-left {
    float: left;
}

.navbar-item-right {
    float: right;
}

.navbar-item:hover {
    background-color: #1C1C1C;
}