doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href='../stylesheets/body.css')
        link(rel='stylesheet' type='text/css' href='../stylesheets/navbar.css')
        link(rel='stylesheet' type='text/css' href='../stylesheets/form.css')
        title PPDNASSP
    body
        div.navbar
            a.navbar-item.navbar-item-left(href='/app/index') PPDNASSP
            a.navbar-item.navbar-item-right(href='/app/download') Download
            a.navbar-item.navbar-item-right(href='/app/upload') Upload
            a.navbar-item.navbar-item-right(href='/app/manage') Manage
            a.navbar-item.navbar-item-right(href='/app/register') Register
        form.form
            h3.form-title Edit Permission
            table.form-table
                thead
                    tr
                        th.form-table-item #chrom
                        th.form-table-item private
                        th.form-table-item restrict i
                        th.form-table-item restrict ii
                        th.form-table-item public
                    tr
                tbody#tbody
            br
            br
            input.form-input#address(type='text' name='address' placeholder='address' hidden='')
            input.form-input#permission(type='text' name='permission' placeholder='permission' hidden='')
            button.form-button.form-button-color(type='button' name='update' value='update permission' onclick='updatePermission(); return false;') update permission
        br
        br
        br
    script(src='../javascripts/web3.bundle.js')
    script(src='../javascripts/eth_sig_util.bundle.js')
    script(src='../javascripts/elliptic.bundle.js')
    script(src='../javascripts/jsrsasign.bundle.js')
    script(src='../javascripts/buffer.bundle.js')
    script(src='../javascripts/IdentityManager.abi.js')
    script(src='../javascripts/Identity.abi.js')
    script(src='../javascripts/did_config.js')
    script(src='../javascripts/app_manage.js')