doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href='../stylesheets/body.css')
        link(rel='stylesheet' type='text/css' href='../stylesheets/navbar.css')
        title DNA-SHARING-CHAIN
    body
        div.navbar
            a.navbar-item.navbar-item-left(href='/app') DNA-SHARING-CHAIN
            a.navbar-item.navbar-item-right(href='/app/download') Download
            a.navbar-item.navbar-item-right(href='/app/upload') Upload
            a.navbar-item.navbar-item-right(href='/app/manage') Manage
            a.navbar-item.navbar-item-right(href='/app/register') Register
        br
        br
        br