doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='stylesheets/apply_identity.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/navbar.css')
  title DNASSSYSTEM
  script(src='https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js')
  script(src='javascripts/apply_identity.js')
.navbar
  a.navbar-item.navbar-item-left(href='/') DNASSSYSTEM
  a.navbar-item.navbar-item-right(href='/manage_identity') Manage Identity
  a.navbar-item.navbar-item-right(href='/apply_identity') Apply Identity
.form
  p Apply a New Identity
  form(action='/apply_identity' method='post')
    input(type='text' name='id' placeholder='id number' required='')
    input#address(type='text' name='address' placeholder='address' required='' readonly='')
    button(type='button' onclick='connect();') connect to metamask
    div
      input(type='radio' name='role' value='1')
      label(for='role') patient
      input(type='radio' name='role' value='2')
      label(for='role') hospital
      input(type='radio' name='role' value='3')
      label(for='role') research center
    input(type='submit' name='apply' value='apply')
