doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='../stylesheets/body.css')
  link(rel='stylesheet' type='text/css' href='../stylesheets/navbar.css')
  link(rel='stylesheet' type='text/css' href='../stylesheets/form.css')
  title DID SYSTEM
  script(src='../javascripts/web3.bundle.js')
  script(src='../javascripts/did_register.js')
.navbar
  a.navbar-item.navbar-item-left(href='/did/index') DID SYSTEM
  a.navbar-item.navbar-item-right(href='/did/manage') Manage Identity
  a.navbar-item.navbar-item-right(href='/did/register') Register Identity
.form
  p Register a New Identity
  form(action='/did/register' method='post')
    select#role(name='role')
      option(value='0') -- Please Select a Role --
      option(value='1') Patient 
      option(value='2') Hospital
      option(value='3') Research Center
    input#id(type='text' name='id' placeholder='id number' required='')
    input#address(type='text' name='address' placeholder='address' required='' readonly='')
    button(type='button' onclick='getMetamaskAccount();') get metamask account
    input(type='submit' name='apply' value='apply' onclick='return checkFieldValues();')
