doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href='../stylesheets/body.css')
        link(rel='stylesheet' type='text/css' href='../stylesheets/navbar.css')
        link(rel='stylesheet' type='text/css' href='../stylesheets/did_index.css')
        title DID
    body
        div.navbar
            a.navbar-item.navbar-item-left(href='/did') DID
            a.navbar-item.navbar-item-right(href='/did/manage') Manage
            a.navbar-item.navbar-item-right(href='/did/register') Register
        br
        br
        br