doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='stylesheets/index.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/navbar.css')
    title DNASSSYSTEM
  body
    .navbar
      a.navbar-item.navbar-item-left(href='/') DNASSSYSTEM
      a.navbar-item.navbar-item-right(href='/manage_identity') Manage Identity
      a.navbar-item.navbar-item-right(href='/apply_identity') Apply Identity
      a.navbar-item.navbar-item-right(href='/register') Register