doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='stylesheets/apply_identity.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/navbar.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/form.css')
  title DNASSSYSTEM
  script(src='https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js')
  script(src='javascripts/IdentityManager.abi.js')
  script(src='javascripts/register.js')
.navbar
  a.navbar-item.navbar-item-left(href='/') DNASSSYSTEM
  a.navbar-item.navbar-item-right(href='/manage_identity') Manage Identity
  a.navbar-item.navbar-item-right(href='/apply_identity') Apply Identity
  a.navbar-item.navbar-item-right(href='/register') Register
.form
  p Register
  form(action='/register' method='post')
    input(type='text' name='priavte_key' placeholder='private key' required='')
    input#address(type='text' name='address' placeholder='address' required='' readonly='')
    button(type='button' onclick='connect();') connect to metamask
    div
      input(type='radio' name='role' value='1' checked)
      label(for='role') patient
      input(type='radio' name='role' value='2')
      label(for='role') hospital
      input(type='radio' name='role' value='3')
      label(for='role') research center
    button(type='button' onclick='check();') verify identity
    input(type='submit' name='register' value='register' onsubmit='alert("aaa);')
